@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgb(225, 0, 255), 2px 2px 50px rgb(237, 142, 250);
}

main {
  margin: 5rem 2rem;
  margin-bottom: 10rem;
}

main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.row {
  background-color: rgb(54, 54, 54);
  box-shadow: 2px 5px 10px #666;
  border-radius: 4px;
  position: relative;
  width: 280px;
  padding: 0.8rem;
}

.row .box {
  display: flex;
  align-items: center;
  position: relative;
}

.row .box a {
  margin: 0 1.5rem;
  font-size: 1.8rem;
  color: #666;
  text-decoration: none;
}

.row .box a:hover {
  color: #fff;
}

.row .box .images {
  float: left;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

.row .box .content {
  white-space: nowrap;
  float: left;
}

.row .box .images img {
  border-radius: 50%;
  width: 55px;
}

.row .box .images .online {
  position: absolute;
  top: 65%;
  left: 14%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(2, 156, 2);
  border: 4px solid rgb(54, 54, 54);
}

.row .box .content h4 {
  font-size: 1.1rem;
  color: rgb(218, 218, 218);
}

.row .box:hover h4 {
  color: #fff;
}

.row .box .content p {
  font-size: 0.9rem;
  color: #999;
}

.row .box .content span {
  position: absolute;
  margin-left: 5px;
  border-radius: 4px;
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
  background-color: rgb(87, 85, 216);
  text-transform: uppercase;
}

.clearfix {
  clear: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: left;
}

footer {
  padding: 2rem 9%;
  background-color: #000;
  text-align: center;
}

footer p[title="support"] ~ p {
  word-wrap: break-word;
  line-height: 2;
}

@media screen and (max-width: 480px) {
  footer p {
    margin-bottom: 1rem;
  }
}
